<% provide(:title, 'About') %>
<div class="row my-4">
    <div class="col-6">
        <img src="/assets/about.jpg" alt="home" class="about-atf">
    </div>
    <div class="col-6">
        <h1 class="my-4">About this site</h1>
        <p>With this site, you can study words with friends.<br>
        The words are categorized, and admin users can make new categories and words.<br>
        Users can see the results in their pages,<br>
        and also users can follow other learners and see their progress.<br>
        We hope you can learn and get more.</p>    
        <h4 class="mt-4">Where there is a will, there's a way.</h4>
    </div>
</div>

