<% provide(:title, "Edit Profile")%>
<div class="form content">
    <h1 class="text-center">Edit</h1>
    <p class="text-center">Edit your information here.</p>
    <div class="container">
        <%= render 'form'%>
    </div>
</div>