<% provide(:title, 'Sign Up') %>
<div class="form content">
    <h1 class="text-center">Sign up</h1>
    <p class="text-center">Join us for free!</p>
    <div class="container">
        <%= render 'form' %>
    </div>
</div>