@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// font
* {
  font-family: 'Baloo Da 2', cursive;
}

a {
  font-size: 18px;
  color:#5bc0de;  
}

.btn{
  font-size: 18px;
}

.card-header{
  font-size: 20px;
}

#logo{
  font-size: 30px;
  color: #5bc0de;
}

.navbar-nav .nav-link:hover{
  color: #5bc0de !important;
}
// bootstrapより優先させる指示を書くときはimportantつける

// pagination
.pagination * {
  border-radius:25px;
  font-size: 18px;
  padding: 0px 8px;
}

.pagination {
  margin: auto;
  text-align: center;
  a {
    color:#5bc0de;
  }
  .page-item {
    .page-link {
      text-decoration: none;
      border-radius: 22.5px;
      font-family: 'Baloo Da 2', cursive;  
    }
  }
  .active {
    .page-link{
      background:#5bc0de;
      border: none;
    }
  }
  .disabled{
    .page-link{
      border: none; 
      color: #696969;
    }
  }
}

.card, .card-header{
  border-color: #499AB3;
}

// home
.bg-img{
  background-image: url(/assets/home.jpg);
  background-size: cover;
  height : 90vh;
  position: relative;
}

.home-desc{
  padding-top: 60px;  
}

.home-title{
  font-size: 60px;
  color: white;
}

.home-txt{
  color: lightgray;
}

.home-row{
  margin-top: 250px;
}

.home-btn-txt {
  background-color: rgba($color:white, $alpha: 0.6);
}

// about
.about-atf{
  width: 500px;
}

//sign up, log in
.signup-new{
  width: 70%;
  margin: 0 auto;
}

// user show page
 .user-profile {
  width: 150px;
  height: 150px;
}

.card-header {
  text-align: center;
}

.following-number{
  width: 50%;
  float: left;
}

.followers-number{
  width: 50%;
}

// user list
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 15px 0;
    border-top: 1px solid rgb(238, 238, 238);
    &:last-child {
      border-bottom: 1px solid rgb(238, 238, 238);
    }
  }
}

.user-img{
  width: 70px;
  height: 70px;
}

// admin home
.btn-admin{
  width: 80%;
}

.btn-back{
  width: 30%;
  margin: 0 auto;
}

//admin users list
.btn-ra{
  width: 110px;
  float: right;  
}

//careate new category
.category-new {
  width: 60%;
  margin: 0 auto;  
}

.btn-cat{
  width: 60%;
  margin: 0 auto;
}

//word index
.btn-word{
  width: 30%;
}

//user-category
.btn-cat-top{
  width: 25%;
}

.con-left{
  float: left;
}

// lesson - answer btn
.btn-lesson{
  width: 29%;
  float: left;
}

.img-answer{
  width: 25px;
}

// activity feed
.small-size{
  width: 80px;
  height: 80px;
}

.txt-time{
  font-size: small;
}

// category filter
.filtering {
  background-color: #5bc0de;
  color: white;
}