@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//  user show page
 .user-profile {
  width: 150px;
  height: 150px;
}

.card-header {
  text-align: center;
}

.following-number{
  width: 50%;
  float: left;
}

.followers-number{
  width: 50%;
}

// user list
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 15px 0;
    border-top: 1px solid rgb(238, 238, 238);
    &:last-child {
      border-bottom: 1px solid rgb(238, 238, 238);
    }
  }
}

.user-img{
  width: 70px;
  height: 70px;
}

// admin home
.btn-admin{
  width: 80%;
}

.btn-back{
  width: 30%;
  margin: 0 auto;
}

//admin users list
.btn-ra{
  width: 110px;
  float: right;  
}

//careate new category
.category-new {
  width: 60%;
  margin: 0 auto;  
}

.btn-cat{
  width: 60%;
  margin: 0 auto;
}

//user-category
.btn-cat-top{
  width: 25%;
}

.con-left{
  float: left;
}

//lesson - answer btn
.btn-lesson{
  width: 29%;
  float: left;
}
