<% provide(:title, 'Administration') %>
<div class="container">
    <h1 class="text-center m-4">Administration</h1>
    <div class="card p-4 text-center">
        <div class="row">
            <div class="col-6">
                <%= link_to "Categories", admin_home_path, class: "btn btn-outline-primary btn-admin mb-1" %>
                <p class="p-3">You can create and edit categories that include all words, all choices, selecting which answer is the correct or not.</p>
            </div>
            <div class="col-6">
                <%= link_to "Users", admin_home_path, class: "btn btn-outline-primary btn-admin mb-1" %>
                <p class="p-3">You can administrate all users as the administrator, controlling users to delete from users list and esp selecting which users are the administrators or not.</p>
            </div>
        </div>
        <%= link_to "Back", current_user, class: "btn btn-outline-secondary btn-back" %>
    </div>

</div>